<p id="notice"><%= notice %></p>

<p>
  <strong>User</strong>
  @<%= @tweet.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Retweet:</strong>
  <%= @tweet.retweet %>
</p>

<div>
<% @tweet.likes.each do |like| %>
  <div><img src="<%= like.user.user_photo%>" alt="..." class="imgRedonda">
  <%= like.user %></div>
  <br>
<% end %>
</div>

<%= link_to 'Back', tweets_path %>
