<% if user_signed_in?  %>
  <h2>Bienvenido <%= current_user.nickname %></h2>  
  <p id="notice"><%= notice %></p>

  <h1>Tweets</h1>
  <div class="thoughts">
    <%= render 'tweets/form', tweet: @tweet %>
  </div>
<%end%>
<div class="card text-center mx-auto col-md-6 mb-3 bg-light">
  <div class="col-med-12">
    <% @tweets.each do |tweet| %>
      <td><img src="<%= tweet.user.user_photo %>" width="200" height="200" class="card-img-top"></td>
      <h5 class="card-title"><td><%= tweet.user %></td></h5>
      <p class="card-text"><td><%= tweet.content %></td></p>
      <td><%= tweet.retweet %> retweet</td>
      <p><%= tweet.likes.count %> <%= (tweet.likes.count) == 2? 'Like' : 'Like'%><p>
      <% pre_like = tweet.likes.find {|like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', likes_path(tweet, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', likes_path(tweet, pre_like), method: :post %>
      <% end %>
    <% end %>
    </div>
</div>

<br>
<div class="row ">
    <div class="col-md-8 offset-md-2">
        <%= link_to_next_page @tweets, 'Show more', class: "btn btn-danger text-light"%>
        <%= link_to_prev_page @tweets, 'Show Previous', class: "btn btn-danger text-light"%>
    </div>
</div>